@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.hidden {
  display: none;
  opacity: 0;
}

body,
button {
  font-family: 'Press Start 2P', system-ui;
  background-color: rgb(230, 202, 152);
}

* {
  align-items: center;
}

body {
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

#content {
  flex: 1;
}

button {
  height: 75px;
  width: 170px;
  font-size: 20px;
}

.btn-start {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin: 0 auto 10px auto;
}

#footer {
  background: rgb(170, 141, 92);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 25px;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

button:hover {
  color: white;
  background: black;
}

.scores {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  gap: 20px;
}

p1 {
  font-size: 30px;
}

#score-you,
#score-computer {
  font-size: 30px;
}
